/* Base styles for the app */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --border-color: #eeeeee;
  --chapter-bg: #f5f5f5;
  --chapter-bg-hover: #ebebeb;
  font-family: 'Lora', serif;
}

:root.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --border-color: #333333;
  --chapter-bg: #2a2a2a;
  --chapter-bg-hover: #333333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Lora', serif;
}